@model IEnumerable<ToDoList5As.Models.User>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">Add new User Item</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                LastName
            </th>
            <th>
                Age
            </th>
            <th>
                Email
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.LastName
            </td>
            <td> 
                @item.Age
            </td>
            <td>
                @item.Email
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
